body {
    background-color: #eee;
    margin: 0;
    padding: 0;
}

.content {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    width: 1024px;
    min-height: 750px;
    margin: 75px auto;
}

.content .ip {
    color: #5e5e5e;
    font-weight: bold;
    margin-bottom: 25px;
}

.content .location {
    font-size: 18px;
    margin: 25px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 275px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}