<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IP Locator</title>
    <link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>

<div class="content">
    <h2>Your IP:</h2>
    <p class="ip">{{ ip }}</p>
    <a href="{{ path('get_location') }}" class="btn btn-info get-location">Get Location</a>

    <div class="location"></div>
</div>
<div class="loader hidden"></div>
<script type="text/javascript" src="/libs/jquery.min.3.2.1.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>